body {
  text-align: center;
  font-family: Arial;
  background: #f2f2f2;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 15px;
  padding: 20px;
}

.gallery img {
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}


#lightbox {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  align-items: center;
  justify-content: center;
}

#lightbox img {
  width: 70%;
  max-width: 400px;
}

#lightbox span,
#lightbox button {
  position: absolute;
  background: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#lightbox span { top: 20px; right: 20px; }
#lightbox button:first-of-type { left: 20px; }
#lightbox button:last-of-type { right: 20px; }
